<<<<<<< HEAD
=======

body {
  font-family: "Space Grotesk", sans-serif;
}

>>>>>>> 25c469c (updated frontend)
.max-h{
    max-height: 100vh;
}



th,td{
    padding: 4px;
    text-align: center;
    border: 1px solid black;
}


::-webkit-scrollbar {
  width: 10px;
  border: none;
  outline: none;
}

